<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>About</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="/">Navbar</a>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" href="/">Home</a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" href="/about">About <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/htmlDemo">HTML Demo</a>
                </li>
            </ul>
        </div>
    </nav>
    <div class="container">
        <h1>Welcome to the About Page</h1>
        <h2>About Me</h2>
        <p>Name: Emad Chowdhury</p>
        <p>Student ID: 161788237</p>
        <p>Program: Business Information Technology</p>
    </div>
</body>
</html>
